/* Fonts */

@font-face {
    font-family: "Reforma";
    src: url("../fonts/ReformaBlanca.woff2");
    font-display: swap;
}

@font-face {
    font-family: "Reforma";
    src: url("../fonts/ReformaNegra.woff2");
    font-weight: bold;
    font-display: swap;
}

@font-face {
    font-family: "Reforma";
    src: url("../fonts/ReformaBlancaItalica.woff2");
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Reforma";
    src: url("../fonts/ReformaNegraItalica.woff2");
    font-style: italic;
    font-weight: bold !important;
    font-display: swap;
}

@font-face {
    font-family: "Beattingvile";
    src: url("https://fonts.cdnfonts.com/s/21505/Beattingvile.woff");
    font-display: swap;
}

/* Transitions */

@keyframes fading {
    from {
        filter: grayscale(1);
    }
    to {
        
    }
}

@keyframes twisting {
    from {
        transform: translate(-50%, 50%)
    }
    to {
        transform: translate(50%, -50%)
    }
}

/* Variables */

$_14px: 0.875rem;
$_12px: 0.75rem;
$lessBlack: #333;
$lessWhite: #fafafa;
$evenLessWhite: #ccc;
$toolboxCream: #EEEFA8;
$toolboxNavy: #162746;
$dahliaMagenta: #E59ED9;
$dahliaPurple: #9682D6;
$tiramisuLBrown: #CC5100;
$tiramisuBrown: #7B3100;
$passifloraMagenta: #db6a8a;
$passifloraDarker: #bb4667;
$logoFont: "Beattingvile";
$headingFont: "Reforma";
$bodyFont: "Source Sans Pro";
$sexyTransition: 0.5s cubic-bezier(0,.97,.69,1);
$medium: 720px;
$small: 400px;

/* Mobile */ 

@media screen and (max-width: $medium) {
  .credits {
    flex-direction: column;
    gap: 2rem;
  }
  .underlineSvg {
    display: none;
  }
}

@media screen and (max-width: $small) {
    #rightSideNav {
        flex-direction: column !important;
        gap: 0.25rem !important;
    }
    nav {
        padding: 1rem 1rem 1.5rem 1rem !important;
    }
    #navDot {
        display: none;
    }
}

/* Elements */

html {
    direction: ltr;
    scroll-behavior: smooth;
}

* {
    text-align: center;
    &::selection {
        color: white;
        background-color: $lessBlack;
    }
}

body {
    margin:0;
}

h1 {
    line-height: 2rem;
    fpLogo {
        font-size: 10rem;
        z-index: 0;
        margin-bottom: -6rem;
        user-select: none;
    }
}

h1, h2, h3, h4, h5 {
    font-family: $headingFont;
    font-weight: 900;
    margin: 0;
    padding: 2rem;

}

nav {
    position: sticky;
    display: flex;
    justify-content: space-between;
    padding: 1rem 1rem 0 1rem;
    top: 0;
    z-index: 13;
}

p {
    font-family: $bodyFont;
    color:inherit;
    margin: auto;
    padding: 0.5rem;
    max-width: 60rem;
    line-height: 1rem;
}

a {
    text-decoration: none;
    color: inherit;
    :visited {
        text-decoration: none;
        color: inherit;
    }
}

footer {
    font-family: $bodyFont;
    font-size: $_14px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: static;
    bottom: 0;
    width: 100%;
    padding: 1.5rem 0;
    background-color: $lessWhite;
}

/* Classes */

#rightSideNav {
    font-family: $bodyFont;
    display: flex;
    height: 2rem;
    gap: 0.75rem;
    flex-direction: row-reverse;
    align-items: center;
    transition: $sexyTransition; 
    & > a {
        transition: $sexyTransition;
    }
}

.svgLogo {
    height: 4rem;
    width: auto;
}

.creditsBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
        width: 16rem;
        height: auto;
    }
}

.card {
    border: 0.125rem solid black;
    background-color: $lessWhite;
    writing-mode: vertical-rl;
    padding: 1rem;
    height: 60vh;
    min-width: 7.5rem;
    margin: 1rem 0.75rem;
    z-index: 2;
    text-align: end;
    flex:0;
    box-shadow: 0.5rem 0.5rem black;
    user-select: none;
    transition: $sexyTransition;
    background-size: cover;
    background-position: center;
    &:hover {
        box-shadow: 0.25rem 0.25rem $lessBlack;
        border-color: $lessBlack;
        color: $lessBlack;
    }
    &.tbx {
        background-image: url("/images/littoolbo.webp");
        &:hover {
            box-shadow: 0.25rem 0.25rem $toolboxCream;
            border-color: $toolboxCream;
        }
    }
    &.dah {
        background-image: url("/images/dahli2.webp");
        &:hover {
            box-shadow: 0.25rem 0.25rem $dahliaMagenta;
            border-color: $dahliaPurple;
        }
    }
    &.tir {
        background-image: url("/images/tiramis.webp");
        &:hover {
            box-shadow: 0.25rem 0.25rem $tiramisuBrown;
            border-color: $tiramisuBrown;
            background-color: $tiramisuLBrown;
            color: white;
        }
    }
    &.pas {
      background-image: url("/images/passif.webp");
      &:hover {
        box-shadow: 0.25rem 0.25rem $passifloraDarker;
        border-color: $passifloraMagenta;
        background-color: $passifloraMagenta;
        color: white;
      }
    }
    &.cam {
      background-image: url("/images/campanula.webp");
      &:hover {
        box-shadow: 0.25rem 0.25rem #1c1c20;
        border-color: white;
        background-color: #1c1c20;
        color: white;
      }
    }

    animation: fading 2s ease;
}

#ccc {
    display: flex;
    justify-content: center;
}

#cardList {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    overflow-x: scroll;
    scrollbar-width: none;
}

.cardOverlay {
    position: relative;
    background-color: rgb(0,0,0,0.5);
    writing-mode: horizontal-tb;
    text-align: left;
    opacity: 0;
    color: white;
    transition: $sexyTransition;
    height: calc(100% + 2rem);
    width: 9.5rem;
    margin: -1rem;
    &:hover {
        opacity: 1;
    }
}

.cardInside {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.cardHeading {
    font-family: $headingFont;
    font-size: 1.6rem;
    line-height: 2rem;
    font-weight: 900;
}

.cardTagList {
    display: flex;
    flex-wrap: wrap;
    filter: invert(1);
    gap: 1rem;
    justify-content: space-evenly;
    padding-bottom: 1.5rem;
}

.cardTagIcon {
    width: 2.5rem;
}

.empty {
    height: 75rem;
}

#litLogo {
    font-family: inherit;
}

.titleFont {
    font-family: $logoFont;
    font-size: 5rem;
    line-height: 3.8rem;
    color: black;
    transition: $sexyTransition;
    text-shadow: 0px 0px transparent;
    &:hover {
        text-shadow: 2px 2px #ddd;
    }
    &.whiteP:hover {
        text-shadow: 2px 2px #444;
    }
}

.scrollContainer {
    width: 100%;
    height: 0.25rem;
    background: #eee;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}
  
.scrollBar {
    height: 0.25rem;
    background: #000;
    width: 0%;
    transition: 1s;
}

.blackWave {
    display: block;
    width: 100%;
    height: auto;
    padding: 2rem 0 0 0;
    left: 0;
    z-index: -1;
    background-repeat: no-repeat;
}

.blackness {
    background-color: black;
    color: white;
    position: relative;
    padding: 4rem 0;
    p {
        padding: 0.5rem 2rem;
    }
    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 0 2rem 100vw;
        border-color: transparent transparent #fff transparent;
    }
}

.whiteP {
    color:white;
    & > a > img {
        filter: invert(1);
        transition: $sexyTransition;
    }
}

.blackP {
    color: black;
    & > a > img {
        transition: $sexyTransition;
    }
}

.gradientBg {
    background: #a25ade;
    background: linear-gradient(61deg, rgba(107,212,229,1) 0%, rgba(121,145,229,1) 25%, rgba(162,90,222,1) 50%, rgba(188,43,142,1) 75%, rgba(199,105,70,1) 100%);
}

.credits {
    padding: 2rem 0 ;
    &>a>img {
        height: 3rem;
    }
    background: #fff;
    display: flex;
    justify-content: space-evenly;
}

.fonts {
    padding: 2rem 0;
    &>a {
        line-height: 4rem;
    }
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    justify-content: space-evenly;
}

.literaiiyLogo {
    height: 12rem;
    padding: 2rem 0;
}

.contactForm {
    font-family: $bodyFont;
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    width: 95vw;
    max-width: 24rem;
    margin: auto;
    
    input {
        font-family: inherit;
        border: 0.125rem solid #fff;
        background-color:#000;
        color: #fff;
        font-size: $_14px;
        outline: none;
        transition: $sexyTransition;
        &:focus {
            border: 0.125rem solid $evenLessWhite;
        }
    }

    textarea {
        font-family: inherit;
        border: 0.125rem solid #fff;
        background-color:#000;
        color: #fff;
        font-size: $_14px;
        outline: none;
        transition: $sexyTransition;
        height: 6rem;
        &:focus {
            border: 0.125rem solid $evenLessWhite;
        }
    }

    button {
        font-family: inherit;
        border: 0.125rem solid #fff;
        background-color: #000;
        color: #fff;
        font-size: $_14px;
        outline: none;
        transition: $sexyTransition;
        &:hover {
            border: 0.125rem solid $evenLessWhite;
            color: $evenLessWhite;
        }
    }
}

.belt {
    height: 12rem;
    transition: $sexyTransition;
    &:hover {
        filter: invert(0.1) drop-shadow(0.5rem 0.5rem 0.5rem #fff);
    }
}

#footerDiv {
    display: flex;
    flex-direction: column;
}

#svgBird {
    height: 1.25rem;
    width: auto;
}

#tagline {
    padding: 2rem 0;
    font-size: 2rem;
    font-family: $headingFont;
    font-weight: normal;
}

.tagline1 {
  line-height: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.betaTag {
    border-radius: 0.25rem;
    color: white;
    font-weight: bold;
    font-family: $headingFont;
    margin: auto;
}

.rellax {
    position: absolute;
    z-index: -10;
    left: 0;
}

.birds1 {
    top: 2rem;
    max-height: 180rem;
}

.errorImg {
    height: calc(100vh - 8.25rem);
    max-width: 100%;
}

.underlineh1 {
  stroke: #ffffff;
}

.taglineFlex {
  display: flex;
  flex-direction: column;
}

/* Pseudo */

::-webkit-scrollbar {
    display: none;
}


/* Helpers */

._14px { font-size: 0.875rem }
._100, .lightest { font-weight: 100 }
._200, .lighter { font-weight: 200 }
._300, .light { font-weight: 300 }
._400, .regular { font-weight: 400 }
._500, .semisemibold { font-weight: 500 }
._600, .semibold { font-weight: 600 }
._700, .bold { font-weight: 700 }
._800, .bolder { font-weight: 800 }
._900, .boldest { font-weight: 900 }
._noselect { user-select: none; }
._salt1 { font-feature-settings: "salt"; font-family: inherit;}
._salt2 { font-feature-settings: "salt" 2; font-family: inherit;}
._salt3 { font-feature-settings: "salt" 3; font-family: inherit;}
._salt4 { font-feature-settings: "salt" 4; font-family: inherit;}
._invert { filter: invert(1) };
._bgBlur { background-image: linear-gradient(to bottom, rgba(0,0,0,256), rgba(0,0,0,0)) };
._cursive1 { font-family: "Kristi"; font-size: 3.25rem; font-weight: 400; };
._cursive2 { font-family: "Norican" }
